In [2]:
import pandas as pd
import shutil
import os
import sys

In [3]:
df = pd.read_csv("train.csv")

In [4]:
df.head

<bound method NDFrame.head of            name   x1   x2   y1   y2       classname
0      2756.png   69  126  294  392  face_with_mask
1      2756.png  505   10  723  283  face_with_mask
2      2756.png   75  252  264  390   mask_colorful
3      2756.png  521  136  711  277   mask_colorful
4      6098.jpg  360   85  728  653    face_no_mask
...         ...  ...  ...  ...  ...             ...
15407  1894.jpg  437  121  907  644  face_with_mask
15408  1894.jpg  557  363  876  636   mask_surgical
15409  1894.jpg  411    3  940  325             hat
15410  3216.png  126   69  409  463  face_with_mask
15411  3216.png  136  289  393  461   mask_colorful

[15412 rows x 6 columns]>

In [5]:
correct_mask = df[df["classname"] == "face_with_mask"]

In [6]:
correct_mask = correct_mask.drop_duplicates(subset=["name"])

In [7]:
correct_mask.drop(['x1', 'x2', 'y1', 'y2'], axis='columns', inplace=True)

In [8]:
correct_mask.head

<bound method NDFrame.head of            name       classname
0      2756.png  face_with_mask
7      4591.png  face_with_mask
16     4287.png  face_with_mask
17     4893.png  face_with_mask
19     1987.jpg  face_with_mask
...         ...             ...
15381  3646.png  face_with_mask
15395  4149.png  face_with_mask
15399  3389.png  face_with_mask
15407  1894.jpg  face_with_mask
15410  3216.png  face_with_mask

[2622 rows x 2 columns]>

In [9]:
nomask = df[df["classname"] == "face_no_mask"]

In [10]:
nomask = nomask.drop_duplicates(subset=["name"])

In [11]:
nomask.drop(['x1', 'x2', 'y1', 'y2'], axis='columns', inplace=True)

In [12]:
incorrect_mask = df[df["classname"] == "face_with_mask_incorrect"]

In [13]:
incorrect_mask = incorrect_mask.drop_duplicates(subset=["name"])

In [14]:
incorrect_mask.drop(['x1', 'x2', 'y1', 'y2'], axis='columns', inplace=True)

In [15]:
incorrect_mask.head

<bound method NDFrame.head of            name                 classname
5      6427.png  face_with_mask_incorrect
45     3939.png  face_with_mask_incorrect
110    3793.png  face_with_mask_incorrect
304    4662.png  face_with_mask_incorrect
563    6418.png  face_with_mask_incorrect
...         ...                       ...
14489  4143.png  face_with_mask_incorrect
14537  1858.jpg  face_with_mask_incorrect
14587  3242.png  face_with_mask_incorrect
15063  5166.jpg  face_with_mask_incorrect
15375  4383.png  face_with_mask_incorrect

[131 rows x 2 columns]>

In [55]:
# folder directories
# ImagesDir = r'C:\Users\rogin\Desktop\DATASET\D1\Medical mask\Medical mask\Medical Mask\images'
# SortedDir= r"D:\Mapua Files\Thesis Main\FaceMaskDetectionClassification\DatasetCleaning\Sorted"

# if not os.path.exists(SortedDir):
#     os.mkdir(SortedDir)
    
# for filename, class_name in correct_mask.values: 
#     if not os.path.exists(SortedDir + (class_name)):
#         os.mkdir(SortedDir + str(class_name))
#     src_path = ImagesDir + '/' + filename
#     dst_path = SortedDir + str(class_name) + '/' + filename
#     shutil.copy(src_path, dst_path)

# for filename, class_name in nomask.values: 
#     if not os.path.exists(SortedDir + str(class_name)):
#         os.mkdir(SortedDir + str(class_name))
#     src_path = ImagesDir + '/' + filename
#     dst_path = SortedDir + str(class_name) + '/' + filename
#     shutil.copy(src_path, dst_path)
    
# for filename, class_name in incorrect_mask.values: 
#     if not os.path.exists(SortedDir + str(class_name)):
#         os.mkdir(SortedDir + str(class_name))
#     src_path = ImagesDir + '/' + filename
#     dst_path = SortedDir + str(class_name) + '/' + filename
#     shutil.copy(src_path, dst_path)

In [16]:
df.classname.unique()

array(['face_with_mask', 'mask_colorful', 'face_no_mask',
       'face_with_mask_incorrect', 'mask_surgical', 'face_other_covering',
       'scarf_bandana', 'eyeglasses', 'helmet', 'face_shield',
       'sunglasses', 'hood', 'hat', 'goggles', 'hair_net', 'hijab_niqab',
       'other', 'gas_mask', 'balaclava_ski_mask', 'turban'], dtype=object)

In [17]:
accepted_classes = ['face_with_mask', 'face_no_mask',
       'face_with_mask_incorrect', 'face_other_covering']

classes_df = df[df["classname"].isin(accepted_classes)]

           name   x1   x2   y1   y2                 classname
0      2756.png   69  126  294  392            face_with_mask
1      2756.png  505   10  723  283            face_with_mask
4      6098.jpg  360   85  728  653              face_no_mask
5      6427.png  218   98  577  580  face_with_mask_incorrect
7      4591.png  239    9  522  342            face_with_mask
...         ...  ...  ...  ...  ...                       ...
15402  4883.png  236   22  497  343       face_other_covering
15404  2460.png  261   36  417  239       face_other_covering
15405  2460.png  650    5  805  184              face_no_mask
15407  1894.jpg  437  121  907  644            face_with_mask
15410  3216.png  126   69  409  463            face_with_mask

[7271 rows x 6 columns]

In [20]:
class_bool = pd.get_dummies(classes_df["classname"])

In [21]:
final_class = classes_df.join(class_bool[["face_no_mask", "face_other_covering", "face_with_mask", "face_with_mask_incorrect"]])

In [22]:
final_class

,name,x1,x2,y1,y2,classname,face_no_mask,face_other_covering,face_with_mask,face_with_mask_incorrect
0,2756.png,69,126,294,392,face_with_mask,0,0,1,0
1,2756.png,505,10,723,283,face_with_mask,0,0,1,0
4,6098.jpg,360,85,728,653,face_no_mask,1,0,0,0
5,6427.png,218,98,577,580,face_with_mask_incorrect,0,0,0,1
7,4591.png,239,9,522,342,face_with_mask,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
15402,4883.png,236,22,497,343,face_other_covering,0,1,0,0
15404,2460.png,261,36,417,239,face_other_covering,0,1,0,0
15405,2460.png,650,5,805,184,face_no_mask,1,0,0,0
15407,1894.jpg,437,121,907,644,face_with_mask,0,0,1,0
15410,3216.png,126,69,409,463,face_with_mask,0,0,1,0