In [1]:
import pandas

In [2]:
df = pandas.read_csv("train.csv")

In [3]:
df.head

<bound method NDFrame.head of            name   x1   x2   y1   y2       classname
0      2756.png   69  126  294  392  face_with_mask
1      2756.png  505   10  723  283  face_with_mask
2      2756.png   75  252  264  390   mask_colorful
3      2756.png  521  136  711  277   mask_colorful
4      6098.jpg  360   85  728  653    face_no_mask
...         ...  ...  ...  ...  ...             ...
15407  1894.jpg  437  121  907  644  face_with_mask
15408  1894.jpg  557  363  876  636   mask_surgical
15409  1894.jpg  411    3  940  325             hat
15410  3216.png  126   69  409  463  face_with_mask
15411  3216.png  136  289  393  461   mask_colorful

[15412 rows x 6 columns]>

In [7]:
correct_mask = df[df["classname"] == "face_with_mask"]

In [8]:
correct_mask.drop_duplicates(subset=["name"])

           name   x1   x2   y1   y2       classname
0      2756.png   69  126  294  392  face_with_mask
7      4591.png  239    9  522  342  face_with_mask
16     4287.png   80    0  629  599  face_with_mask
17     4893.png  179    8  664  599  face_with_mask
19     1987.jpg  365   67  464  199  face_with_mask
...         ...  ...  ...  ...  ...             ...
15381  3646.png  148  122  461  525  face_with_mask
15395  4149.png    4    1  431  372  face_with_mask
15399  3389.png  101    2  435  456  face_with_mask
15407  1894.jpg  437  121  907  644  face_with_mask
15410  3216.png  126   69  409  463  face_with_mask

[2622 rows x 6 columns]

In [9]:
nomask = df[df["classname"] == "face_no_mask"]

In [12]:
nomask.drop_duplicates(subset=["name"])

           name   x1   x2    y1    y2     classname
4      6098.jpg  360   85   728   653  face_no_mask
11     5525.jpg  262   18   484   319  face_no_mask
13     3911.png   49   26   389   476  face_no_mask
20     1987.jpg   72  150   103   191  face_no_mask
46     3939.png  352  101   409   173  face_no_mask
...         ...  ...  ...   ...   ...           ...
15337  2376.png  227    2   438   173  face_no_mask
15347  6221.jpg  635  183   741   313  face_no_mask
15356  6096.jpg  264   53   489   324  face_no_mask
15394  6326.jpg  850  271  1642  1393  face_no_mask
15405  2460.png  650    5   805   184  face_no_mask

[974 rows x 6 columns]

In [13]:
incorrect_mask = df[df["classname"] == "face_with_mask_incorrect"]

In [15]:
incorrect_mask.drop_duplicates(subset=["name"])

           name   x1   x2   y1   y2                 classname
5      6427.png  218   98  577  580  face_with_mask_incorrect
45     3939.png  518  106  563  174  face_with_mask_incorrect
110    3793.png  188   57  330  221  face_with_mask_incorrect
304    4662.png   78  216  294  543  face_with_mask_incorrect
563    6418.png  439  292  467  353  face_with_mask_incorrect
...         ...  ...  ...  ...  ...                       ...
14489  4143.png   33    2  253  389  face_with_mask_incorrect
14537  1858.jpg  215  168  390  357  face_with_mask_incorrect
14587  3242.png  178  190  398  482  face_with_mask_incorrect
15063  5166.jpg  636  194  724  312  face_with_mask_incorrect
15375  4383.png  310  279  352  330  face_with_mask_incorrect

[131 rows x 6 columns]