In [1]:
import pandas as pd
import shutil
import os
import sys
import cv2

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head

<bound method NDFrame.head of       Unnamed: 0      name   x1   x2    y1   y2                 classname  \
0          14938  4173.png  265  302   292  355            face_with_mask
1          12845  2798.png  773    5  1020  586            face_with_mask
2           6436  2097.jpg  601  172   727  349       face_other_covering
3              5  6427.png  218   98   577  580  face_with_mask_incorrect
4          10867  4511.png  297    6   452  240            face_with_mask
...          ...       ...  ...  ...   ...  ...                       ...
5084       12279  3945.png  214  150   316  237            face_with_mask
5085       15197  5346.jpg  253  155   493  389       face_other_covering
5086       14559  4193.png  220   60   416  333            face_with_mask
5087       12899  3525.png   48    9   379  371              face_no_mask
5088       12052  6036.jpg  650  108   755  233       face_other_covering

      face_no_mask  face_other_covering  face_with_mask  \
0                0                    0               1
1                0                    0               1
2                0                    1               0
3                0                    0               0
4                0                    0               1
...            ...                  ...             ...
5084             0                    0               1
5085             0                    1               0
5086             0                    0               1
5087             1                    0               0
5088             0                    1               0

      face_with_mask_incorrect
0                            0
1                            0
2                            1
3                            1
4                            0
...                        ...
5084                         0
5085                         1
5086                         0
5087                         0
5088                         1

[5089 rows x 11 columns]>

In [4]:
correct_mask = df[df["classname"] == "face_with_mask"]

In [5]:
correct_mask = correct_mask.drop_duplicates(subset=["name"])

In [6]:
correct_mask.drop(['x1', 'x2', 'y1', 'y2'], axis='columns', inplace=True)

In [7]:
correct_mask.head

<bound method NDFrame.head of       Unnamed: 0      name       classname  face_no_mask  face_other_covering  \
0          14938  4173.png  face_with_mask             0                    0
1          12845  2798.png  face_with_mask             0                    0
4          10867  4511.png  face_with_mask             0                    0
6          14990  5108.jpg  face_with_mask             0                    0
8           6961  2168.png  face_with_mask             0                    0
...          ...       ...             ...           ...                  ...
5057        1116  3540.png  face_with_mask             0                    0
5064        4373  3129.png  face_with_mask             0                    0
5071        5930  2187.png  face_with_mask             0                    0
5080        4396  5014.jpg  face_with_mask             0                    0
5086       14559  4193.png  face_with_mask             0                    0

      face_with_mask  face_with_mask_incorrect
0                  1                         0
1                  1                         0
4                  1                         0
6                  1                         0
8                  1                         0
...              ...                       ...
5057               1                         0
5064               1                         0
5071               1                         0
5080               1                         0
5086               1                         0

[2026 rows x 7 columns]>

In [8]:
nomask = df[df["classname"] == "face_no_mask"]

In [9]:
nomask = nomask.drop_duplicates(subset=["name"])

In [10]:
nomask.drop(['x1', 'x2', 'y1', 'y2'], axis='columns', inplace=True)

In [11]:
incorrect_mask = df[df["classname"] == "face_with_mask_incorrect"]

In [12]:
incorrect_mask = incorrect_mask.drop_duplicates(subset=["name"])

In [13]:
incorrect_mask.drop(['x1', 'x2', 'y1', 'y2'], axis='columns', inplace=True)

In [14]:
incorrect_mask.head()

,Unnamed: 0,name,classname,face_no_mask,face_other_covering,face_with_mask,face_with_mask_incorrect
3,5,6427.png,face_with_mask_incorrect,0,0,0,1
7,11133,3063.png,face_with_mask_incorrect,0,0,0,1
187,11189,2812.png,face_with_mask_incorrect,0,0,0,1
243,8186,2626.png,face_with_mask_incorrect,0,0,0,1
361,3061,6290.jpg,face_with_mask_incorrect,0,0,0,1

In [15]:
# #not yet finished


# #folder directories
# ImagesDir = r'C:\Users\rogin\Desktop\DATASET\D1\Medical mask\Medical mask\Medical Mask\images'
# SortedDir= r"D:\Mapua Files\Thesis Main\FaceMaskDetectionClassification\DatasetCleaning\Sorted"

# sample_size = 1000
# sample_counter = 0 
    
# for filename, class_name in correct_mask.values: 
#     if not os.path.exists(SortedDir + (class_name)):
#          os.mkdir(SortedDir + str(class_name))
#     if (sample_counter <= sample_size):     
#         src_path = ImagesDir + '/' + filename
#         dst_path = SortedDir + str(class_name) + '/' + filename
#         shutil.copy(src_path, dst_path)
#     else:
#         df.drop(df[(df['name']== filename)].index, inplace=True) #drop the row if the counter exceeds the sample size
#     sample_counter += 1
        
# sample_counter = 0

# for filename, class_name in nomask.values: 
#     if not os.path.exists(SortedDir + str(class_name)):
#         os.mkdir(SortedDir + str(class_name))
#     if (sample_counter <= sample_size):
#         src_path = ImagesDir + '/' + filename
#         dst_path = SortedDir + str(class_name) + '/' + filename
#         shutil.copy(src_path, dst_path)
#     else:
#         df.drop(df[(df['name']==filename)].index, inplace=True) #drop the row if the counter exceeds the sample size
#     sample_counter += 1    
        
    
# sample_counter = 0

# for filename, class_name in incorrect_mask.values: 
#     if not os.path.exists(SortedDir + str(class_name)):
#         os.mkdir(SortedDir + str(class_name))
#     if (sample_counter <= sample_size):
#         src_path = ImagesDir + '/' + filename
#         dst_path = SortedDir + str(class_name) + '/' + filename
#         shutil.copy(src_path, dst_path)

In [16]:
#adding images to incorrect_mask category

In [17]:
df.classname.unique()

array(['face_with_mask', 'face_other_covering',
       'face_with_mask_incorrect', 'face_no_mask'], dtype=object)

In [18]:
accepted_classes = ['face_with_mask', 'face_no_mask',
       'face_with_mask_incorrect', 'face_other_covering']

classes_df = df[df["classname"].isin(accepted_classes)]

In [19]:
class_bool = pd.get_dummies(classes_df["classname"])

In [26]:
classes_df.drop(['face_no_mask', 'face_other_covering', 'face_with_mask', 'face_with_mask_incorrect'], axis='columns', inplace=True)
final_class = classes_df.join(class_bool[["face_no_mask", "face_other_covering", "face_with_mask", "face_with_mask_incorrect"]])

In [27]:
final_class

,Unnamed: 0,name,x1,x2,y1,y2,classname,face_no_mask,face_other_covering,face_with_mask,face_with_mask_incorrect
0,14938,4173.png,265,302,292,355,face_with_mask,0,0,1,0
1,12845,2798.png,773,5,1020,586,face_with_mask,0,0,1,0
2,6436,2097.jpg,601,172,727,349,face_other_covering,0,1,0,0
3,5,6427.png,218,98,577,580,face_with_mask_incorrect,0,0,0,1
4,10867,4511.png,297,6,452,240,face_with_mask,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
5084,12279,3945.png,214,150,316,237,face_with_mask,0,0,1,0
5085,15197,5346.jpg,253,155,493,389,face_other_covering,0,1,0,0
5086,14559,4193.png,220,60,416,333,face_with_mask,0,0,1,0
5087,12899,3525.png,48,9,379,371,face_no_mask,1,0,0,0
5088,12052,6036.jpg,650,108,755,233,face_other_covering,0,1,0,0

In [28]:
final_class[final_class["face_other_covering"] == 1]

,Unnamed: 0,name,x1,x2,y1,y2,classname,face_no_mask,face_other_covering,face_with_mask,face_with_mask_incorrect
2,6436,2097.jpg,601,172,727,349,face_other_covering,0,1,0,0
5,12391,4095.png,319,143,524,436,face_other_covering,0,1,0,0
9,5657,3523.png,70,0,378,444,face_other_covering,0,1,0,0
12,10966,2993.png,79,88,259,296,face_other_covering,0,1,0,0
13,12298,5270.jpg,206,31,270,108,face_other_covering,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
5081,7623,5730.jpg,168,40,217,102,face_other_covering,0,1,0,0
5082,8130,1861.jpg,518,116,938,632,face_other_covering,0,1,0,0
5083,7329,2119.jpg,386,88,803,547,face_other_covering,0,1,0,0
5085,15197,5346.jpg,253,155,493,389,face_other_covering,0,1,0,0
5088,12052,6036.jpg,650,108,755,233,face_other_covering,0,1,0,0

In [29]:
final_class[(final_class["face_other_covering"] == 1) & (final_class["face_with_mask_incorrect"] == 0)]

,Unnamed: 0,name,x1,x2,y1,y2,classname,face_no_mask,face_other_covering,face_with_mask,face_with_mask_incorrect
2,6436,2097.jpg,601,172,727,349,face_other_covering,0,1,0,0
5,12391,4095.png,319,143,524,436,face_other_covering,0,1,0,0
9,5657,3523.png,70,0,378,444,face_other_covering,0,1,0,0
12,10966,2993.png,79,88,259,296,face_other_covering,0,1,0,0
13,12298,5270.jpg,206,31,270,108,face_other_covering,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
5081,7623,5730.jpg,168,40,217,102,face_other_covering,0,1,0,0
5082,8130,1861.jpg,518,116,938,632,face_other_covering,0,1,0,0
5083,7329,2119.jpg,386,88,803,547,face_other_covering,0,1,0,0
5085,15197,5346.jpg,253,155,493,389,face_other_covering,0,1,0,0
5088,12052,6036.jpg,650,108,755,233,face_other_covering,0,1,0,0

In [30]:
final_class.shape

(5089, 11)

In [25]:
final_class.head()

,name,x1,x2,y1,y2,classname,face_no_mask,face_other_covering,face_with_mask,face_with_mask_incorrect
0,2756.png,69,126,294,392,face_with_mask,0,0,1,0
1,2756.png,505,10,723,283,face_with_mask,0,0,1,0
4,6098.jpg,360,85,728,653,face_no_mask,1,0,0,0
5,6427.png,218,98,577,580,face_with_mask_incorrect,0,0,0,1
7,4591.png,239,9,522,342,face_with_mask,0,0,1,0

In [31]:
cropping = final_class.copy()
cropping.drop(['face_no_mask', 'face_other_covering', 'face_with_mask', 'face_with_mask_incorrect'], axis='columns', inplace=True)

In [32]:
cropping = cropping[(cropping['x1']!=cropping['y1']) & (cropping['x2']!=cropping['y2'])]

In [33]:
cropping=cropping.drop("Unnamed: 0", axis=1)

In [38]:
#Cropping images according to ROI 
root_dir = os.path.abspath('.')
ImagesDir = r"C:\Users\dcsam\Documents\programming\capsnet-keras\images\\"
croppedDir= os.path.join(root_dir, "croppedv2")

invalid = []

index_counter = 0

print(ImagesDir)

print("Cropping images....")
for index, row in cropping.iterrows(): 
    if not os.path.exists(croppedDir):
            os.mkdir(croppedDir)
    img = cv2.imread(ImagesDir + row["name"])
    if img is None:
        invalid.append(index)
        continue
    try:
        img_cropped = img[row["x2"]:row["y2"], row["x1"]:row["y1"]]
        new_filename = str(row["x1"]) + row["name"]
        cv2.imwrite(croppedDir +  '/' + new_filename, img_cropped)
        cropping.loc[index, "newFilename"] = new_filename

    except Exception as e:
        print(e)
    
print("Images cropped successfully...")

C:\Users\dcsam\Documents\programming\capsnet-keras\images\\
Cropping images....
Images cropped successfully...

In [39]:
for i in invalid:
    cropping = cropping.drop(i)

In [41]:
cropping

          name   x1   x2    y1   y2                 classname  newFilename
0     4173.png  265  302   292  355            face_with_mask  2654173.png
1     2798.png  773    5  1020  586            face_with_mask  7732798.png
2     2097.jpg  601  172   727  349       face_other_covering  6012097.jpg
3     6427.png  218   98   577  580  face_with_mask_incorrect  2186427.png
4     4511.png  297    6   452  240            face_with_mask  2974511.png
...        ...  ...  ...   ...  ...                       ...          ...
5084  3945.png  214  150   316  237            face_with_mask  2143945.png
5085  5346.jpg  253  155   493  389       face_other_covering  2535346.jpg
5086  4193.png  220   60   416  333            face_with_mask  2204193.png
5087  3525.png   48    9   379  371              face_no_mask   483525.png
5088  6036.jpg  650  108   755  233       face_other_covering  6506036.jpg

[5072 rows x 7 columns]

In [43]:
#image resizing 
croppedDir= os.path.join(root_dir, "croppedv2")
print(croppedDir)
#variables for image width and height
width = 128
height = 128
dim = (width, height)

print("Resizing images....")
for name, x1, x2, y1, y2, classname, newFilename in cropping.values: 
    img = cv2.imread(croppedDir + '\\' + str(x1) + name)
    try:
        img_resized = cv2.resize(img, dim, interpolation = cv2.INTER_AREA)
        cv2.imwrite(croppedDir + '/' + newFilename, img_resized)
    except Exception as e:
        print(newFilename)
        print(x2, y2, x1, y1)
        print(e)
print("Images resized successfully...")

C:\Users\dcsam\Documents\programming\thesis\DatasetCleaning\croppedv2
Resizing images....
Images resized successfully...

In [44]:
cropping.to_csv("finalds.csv")